<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Today's Game</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div id="gameContainer">
        <button onclick="refreshGame()">Refresh game</button>
        <div id="images"></div>
        <div id="chargeSlots"></div>
        <div id="charges"></div>
        <button onclick="checkAnswers()">Done</button>
        <div id="result"></div>
    </div>
    <script>
        function refreshGame() {
            alert("Refresh game button clicked.");  
        }
        function checkAnswers() {
            alert("Check answers button clicked."); 
        }
    </script>
</body>
</html>

