/* styles.css */
body {
    background-image: linear-gradient(to right, #b8e994, #ffffff, #ff9a9e); /* A gentle gradient from light green to white to light red */
    background-repeat: no-repeat; /* Ensure the gradient does not repeat */
    background-attachment: fixed; /* Optional: keeps the gradient fixed during scrolling */
    background-size: cover; /* Ensures the gradient covers the entire body */
}

.date-info {
    font-size: 16px;
    font-weight: bold;
    vertical-align: bottom;
    position: relative;
    bottom: 11px;
}

.header-image {
    height: 150px;
    vertical-align: bottom;
    margin-right: 5px; /* Reduced spacing to match smaller size */
}

.header-content {
    display: inline;
    vertical-align: bottom;
}

.leaderboard-title {
    font-size: 60px;
    font-weight: bold;
}

.sidebar-first {
    margin-top: 170px;
    position: fixed; /* Key property to make the sidebar fixed */
    overflow-y: auto; /* Allows scrolling inside the sidebar if content overflows */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 350px;
}

.sidebar-second{
    margin-top: 325px;
    position: fixed; /* Key property to make the sidebar fixed */
    overflow-y: auto; /* Allows scrolling inside the sidebar if content overflows */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 350px;
}

input[type="text"], button {
    width: 100%;
}
.sidebar-game {
    margin-top: 525px;
    position: fixed;
    width: 350px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: -4px 0 8px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.sidebar-game h2 {
    color: #333;
    font-size: 20px;
}

.sidebar-game button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sidebar-game button:hover {
    background-color: #45a049;
}

#gameContainer {
    width: 80%;
    margin: auto;
    text-align: center;
}
#images img {
    width: 30%;
    margin: 1%;
}
.charge, .chargeSlot {
    border: 2px solid #ccc;
    padding: 10px;
    margin: 5px;
    background-color: #f9f9f9;
}
.charge {
    cursor: grab;
}
.chargeSlot {
    min-height: 50px;
}
